.c-title-box h1 {
    font-weight: 300;
    color: #57606f;
    font-size: 32px;
}

.c-title-box strong {
    font-weight: bold;
    color: #57606f !important;
    font-size: 40px;
    font-style: oblique;
}