.contact-info {
  --contact-border-radius: 6px;
  border-radius: var(--contact-border-radius);
}

.contact-info__description {
  color: var(--gray);
}

.contact-details__image {
  border-radius: var(--contact-border-radius) var(--contact-border-radius) 0 0;
  align-self: center;
  max-width: 100%;
  width: 350px;
  height: 195px;
  object-fit: cover;
}

.c-detail-box {
  background-color: var(--teal);
  padding: 20px 0;
  margin: 0 0 20px;
}

.c-detail-box .container {
  display: flex;
  align-items: center;
}

.c-detail-box h1 {
  font-weight: 300;
  color: #fff;
  font-size: 32px;
}

.c-detail-box strong {
  font-weight: bold;
  color: #fff;
  font-size: 40px;
  font-style: oblique;
}

.c-detail-box img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin-right: 40px;
}

.c-description-info {
  border: 1px solid !important;
}



.c-submit-box {
  order: 9;
}

.c-details {
  float: left;
}