@keyframes ShakeAnimation {
  0% {
    transform: rotate(-87deg);
  }

  50% {
    transform: rotate(-55deg);
  }

  100% {
    transform: rotate(-87deg);
  }
}

.contact-item {
  --contact-border-radius: 6px;
  border-radius: var(--contact-border-radius);
  box-shadow: 0 .01rem .15rem rgba(0, 0, 0, .075);
  transform: translateY(0);
  transition: .2s all ease;
}

.contact-item:hover {
  box-shadow: 0 .25rem .25rem rgba(0, 0, 0, .075);
  transform: translateY(-5px);
}

.contact-item__image {
  border-radius: var(--contact-border-radius) var(--contact-border-radius) 0 0;
  align-self: center;
  max-width: 100%;
  width: 350px;
  height: 195px;
  object-fit: cover;
}

.contact-item__box b {
  color: var(--text-color);
  font-size: 14px;
  margin-right: 5px;
}

.contact-item__icon {
  margin-right: 8px;
  transform: rotate(-87deg);
  margin-top: -5px;
}

.contact-item__icon path {
  fill: var(--text-color);
}

.contact-item__link {
  color: var(--text-color);
}

.contact-item__link:hover {
  color: var(--text-color);
}

.contact-item__link:hover .contact-item__icon {
  animation-name: ShakeAnimation;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
}

.contact-item__link:hover .contact-item__icon path {
  fill: var(--primary-color);
}